<template>

        <v-layout row wrap>
            <v-flex xs12 class="pb-5">
                <h1 class="pb-1">Мониторинг</h1>
            </v-flex>
            <v-flex sm12 md8>
                <v-data-table
                        v-if="!emptyMessages"
                        :headers="headers"
                        :items="messages"
                        hide-actions
                        class="elevation-1"
                >
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.name }}</td>
                        <td>{{ props.item.type }}</td>
                        <td>{{ props.item.message }}</td>
                    </template>
                </v-data-table>
                <v-card v-else>
                    <v-card-text>
                        <h2>Пока сообщений нет</h2>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>

</template>

<script>
    export default {
        data: () => ({
            loading: false,

            headers: [
                {
                    text: 'Name',
                    align: 'left',
                    sortable: false,
                    value: 'name'
                },
                {
                    text: 'Type',
                    sortable: false,
                    value: 'type'
                },
                {
                    text: 'Message',
                    sortable: false,
                    value: 'message'
                },
            ],
            messages: []
        }),
        beforeMount: async function () {
            this.$options.sockets.onmessage = (data) => {
                this.messages.unshift(JSON.parse(data.data))
            }
        },
        computed: {
            emptyMessages() {
                return this.messages.length === 0
            }
        },
        methods: {

        },
    }
</script>

<style scoped>

</style>